{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %} | Blog
    </title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" /> 
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> 
</head>

<body>
    <header id="cabecalho-principal">
        <a href="{% url 'home' %}">
            <p>Home</p>
        </a>
        <nav id="navegacao-principal">
            <ul>
                <li><a href="{% url 'post_list' %}">Posts</a></li>
                <li><a href="{% url 'create_post' %}">Criar Post</a></li>
                <li><a href="{% url 'create_category' %}">Criar Categoria</a></li>
            </ul>
        </nav>

    </header>
    <main id="conteiner-principal">
        {% block content %}
        {% endblock content %}
    </main>
    <footer id="rodape-principal">
        <p>
            <small>Copyright 2023</small>
        </p>
    </footer>
</body>

</html>