{% extends 'base.html' %}
{% block title %}Comentarios{% endblock %}
{% block content %}

{% if user.is_authenticated %}
  {% for comment in comments %}
      <p>{{ comment.user.username }} - {{ comment.text }}</p>
  {% endfor %}
    <h1>Adicionar Comentário</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Comentar</button>
    </form>
{% else %}
  <p>Você precisa estar cadastrado para realizar essa ação.</p>
{% endif %}

<a href="{% url 'post_list' %}">Voltar para Posts</a>
{% endblock %}
