{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock title %}

{% block content %}

<h1>Login</h1>
    <br>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <br>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        
        {{ form.username.label_tag }}
        {{ form.username }}
        <br>
        
        {{ form.possword.label_tag }}
        {{ form.possword }}
        <br>
        
        <button type="submit">Login</button>
        <br>
        <a href="{% url 'cadastro' %}">Criar conta</a>
    </form>    
{% endblock content %}